Pastebook/Pastebook/Service References/PastebookServiceReference/PastebookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AboutMe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEntity" nillable="true" type="tns:UserEntity" />
  <xs:complexType name="ArrayOfPostEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostEntity" nillable="true" type="tns:PostEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostEntity" nillable="true" type="tns:ArrayOfPostEntity" />
  <xs:complexType name="PostEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PosterId" type="xs:int" />
      <xs:element minOccurs="0" name="ProfileOwnerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostEntity" nillable="true" type="tns:PostEntity" />
  <xs:complexType name="ArrayOfUserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserEntity" nillable="true" type="tns:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserEntity" nillable="true" type="tns:ArrayOfUserEntity" />
  <xs:complexType name="CommentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
      <xs:element minOccurs="0" name="PosterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentEntity" nillable="true" type="tns:CommentEntity" />
  <xs:complexType name="CountryEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryEntity" nillable="true" type="tns:CountryEntity" />
  <xs:complexType name="FriendEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FriendId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsBlocked" type="ser:char" />
      <xs:element minOccurs="0" name="Request" type="ser:char" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendEntity" nillable="true" type="tns:FriendEntity" />
  <xs:complexType name="LikeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LikedBy" type="xs:int" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LikeEntity" nillable="true" type="tns:LikeEntity" />
  <xs:complexType name="NotificationEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NotificationType" type="xs:int" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverId" type="xs:int" />
      <xs:element minOccurs="0" name="Seen" type="ser:char" />
      <xs:element minOccurs="0" name="SenderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationEntity" nillable="true" type="tns:NotificationEntity" />
</xs:schema>