Pastebook/Pastebook/Service References/PastebookServiceReference/PastebookService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookWebService.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" />
  <xs:complexType name="EncryptPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptPasswordResponse" nillable="true" type="tns:EncryptPasswordResponse" />
  <xs:complexType name="RegisterUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserResponse" nillable="true" type="tns:RegisterUserResponse" />
  <xs:complexType name="PasswordMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordMatchResponse" nillable="true" type="tns:PasswordMatchResponse" />
  <xs:complexType name="RetrieveUserResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="User" nillable="true" type="q1:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveUserResponse" nillable="true" type="tns:RetrieveUserResponse" />
  <xs:complexType name="RetrievePostsResponse">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfPosts" nillable="true" type="q2:ArrayOfPostEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrievePostsResponse" nillable="true" type="tns:RetrievePostsResponse" />
  <xs:complexType name="RetrieveAllUserResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfUser" nillable="true" type="q3:ArrayOfUserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveAllUserResponse" nillable="true" type="tns:RetrieveAllUserResponse" />
</xs:schema>