Pastebook/Pastebook/Service References/PastebookServiceReference/PastebookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookWebService.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" />
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RegisterUserRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="wcfUserEntity" nillable="true" type="q1:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserRequest" nillable="true" type="tns:RegisterUserRequest" />
  <xs:complexType name="PasswordMatchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordMatchRequest" nillable="true" type="tns:PasswordMatchRequest" />
  <xs:complexType name="RetrieverUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieverUserRequest" nillable="true" type="tns:RetrieverUserRequest" />
  <xs:complexType name="RetrievePostsRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListOfFriendsId" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrievePostsRequest" nillable="true" type="tns:RetrievePostsRequest" />
  <xs:complexType name="EncryptPasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptPasswordRequest" nillable="true" type="tns:EncryptPasswordRequest" />
</xs:schema>