Pastebook/Pastebook/Service References/PastebookServiceReference/PastebookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookWebService.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" />
  <xs:complexType name="RegisterUserResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterUserResponse" nillable="true" type="tns:RegisterUserResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListOfErrors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ListOfExceptions" nillable="true" type="q2:ArrayOfException" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="PasswordMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordMatchResponse" nillable="true" type="tns:PasswordMatchResponse" />
  <xs:complexType name="RetrieveUserByEmailResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="User" nillable="true" type="q3:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveUserByEmailResponse" nillable="true" type="tns:RetrieveUserByEmailResponse" />
  <xs:complexType name="RetrieveUserByIdResponse">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="User" nillable="true" type="q4:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveUserByIdResponse" nillable="true" type="tns:RetrieveUserByIdResponse" />
  <xs:complexType name="RetrievePostsResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfPosts" nillable="true" type="q5:ArrayOfPostEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrievePostsResponse" nillable="true" type="tns:RetrievePostsResponse" />
  <xs:complexType name="RetrieveAllUserResponse">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfUser" nillable="true" type="q6:ArrayOfUserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveAllUserResponse" nillable="true" type="tns:RetrieveAllUserResponse" />
  <xs:complexType name="RetrieveAllCountriesResponse">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfCountries" nillable="true" type="q7:ArrayOfCountryEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveAllCountriesResponse" nillable="true" type="tns:RetrieveAllCountriesResponse" />
  <xs:complexType name="EncryptPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptPasswordResponse" nillable="true" type="tns:EncryptPasswordResponse" />
  <xs:complexType name="CreatePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePostResponse" nillable="true" type="tns:CreatePostResponse" />
  <xs:complexType name="AddCommentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCommentResponse" nillable="true" type="tns:AddCommentResponse" />
  <xs:complexType name="AddNotificationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNotificationResponse" nillable="true" type="tns:AddNotificationResponse" />
  <xs:complexType name="AddLikeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddLikeResponse" nillable="true" type="tns:AddLikeResponse" />
  <xs:complexType name="RetrieveCommentResponse">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfComments" nillable="true" type="q8:ArrayOfCommentEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveCommentResponse" nillable="true" type="tns:RetrieveCommentResponse" />
  <xs:complexType name="RetrieveLikeResponse">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="ListOfLikes" nillable="true" type="q9:ArrayOfLikeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveLikeResponse" nillable="true" type="tns:RetrieveLikeResponse" />
  <xs:complexType name="AddFriendResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFriendResponse" nillable="true" type="tns:AddFriendResponse" />
  <xs:complexType name="AcceptFriendRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcceptFriendRequestResponse" nillable="true" type="tns:AcceptFriendRequestResponse" />
  <xs:complexType name="RejectFriendRequestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RejectFriendRequestResponse" nillable="true" type="tns:RejectFriendRequestResponse" />
  <xs:complexType name="RetrieveCountryByIdResponse">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Country" nillable="true" type="q10:CountryEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveCountryByIdResponse" nillable="true" type="tns:RetrieveCountryByIdResponse" />
  <xs:complexType name="RetrieveFriendsResponse">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="listOfFriends" nillable="true" type="q11:ArrayOfFriendEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveFriendsResponse" nillable="true" type="tns:RetrieveFriendsResponse" />
</xs:schema>