Pastebook/Pastebook/Service References/PastebookServiceReference/PastebookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PastebookWebService.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" />
  <xs:import schemaLocation="http://172.19.30.185/PastebookWebService/PastebookWebService/PastebookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RegisterUserRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="wcfUserEntity" nillable="true" type="q1:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserRequest" nillable="true" type="tns:RegisterUserRequest" />
  <xs:complexType name="PasswordMatchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HashPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordMatchRequest" nillable="true" type="tns:PasswordMatchRequest" />
  <xs:complexType name="RetrieverUserByEmailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieverUserByEmailRequest" nillable="true" type="tns:RetrieverUserByEmailRequest" />
  <xs:complexType name="RetrieveUserByIdRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveUserByIdRequest" nillable="true" type="tns:RetrieveUserByIdRequest" />
  <xs:complexType name="RetrievePostsRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListOfFriendsId" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrievePostsRequest" nillable="true" type="tns:RetrievePostsRequest" />
  <xs:complexType name="EncryptPasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EncryptPasswordRequest" nillable="true" type="tns:EncryptPasswordRequest" />
  <xs:complexType name="CreatePostRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Post" nillable="true" type="q3:PostEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePostRequest" nillable="true" type="tns:CreatePostRequest" />
  <xs:complexType name="AddCommentRequest">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Comment" nillable="true" type="q4:CommentEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddCommentRequest" nillable="true" type="tns:AddCommentRequest" />
  <xs:complexType name="AddNotificationRequest">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Notification" nillable="true" type="q5:NotificationEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddNotificationRequest" nillable="true" type="tns:AddNotificationRequest" />
  <xs:complexType name="AddLikeRequest">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Like" nillable="true" type="q6:LikeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddLikeRequest" nillable="true" type="tns:AddLikeRequest" />
  <xs:complexType name="RetrieveCommentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveCommentRequest" nillable="true" type="tns:RetrieveCommentRequest" />
  <xs:complexType name="RetrieveLikeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveLikeRequest" nillable="true" type="tns:RetrieveLikeRequest" />
  <xs:complexType name="AddFriendRequest">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PastebookWebService.Entities" minOccurs="0" name="Friend" nillable="true" type="q7:FriendEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddFriendRequest" nillable="true" type="tns:AddFriendRequest" />
  <xs:complexType name="AcceptFriendRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendId" type="xs:int" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcceptFriendRequestRequest" nillable="true" type="tns:AcceptFriendRequestRequest" />
  <xs:complexType name="RejectFriendRequestRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendId" type="xs:int" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RejectFriendRequestRequest" nillable="true" type="tns:RejectFriendRequestRequest" />
  <xs:complexType name="RetrieveCountryByIdRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveCountryByIdRequest" nillable="true" type="tns:RetrieveCountryByIdRequest" />
  <xs:complexType name="RetrieveFriendsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetrieveFriendsRequest" nillable="true" type="tns:RetrieveFriendsRequest" />
</xs:schema>